h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #444;
}
p {
  font-family: "Roboto", sans-serif;
  color: #555;
  font-size: 1rem;
  line-height: 22px;
}

.Container {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 6%;
  gap: 50px;
}

.Container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container > div:nth-child(1) {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}

.Container > div:nth-last-child(1) {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.08);
}

.Container > div:nth-last-child(1) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .Container {
    gap: 0;
  }
}

@media screen and (max-width: 1024px) {
  .Container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
}

@media screen and (max-width: 500px) {
  .Container {
    margin-top: 100px;
  }
}
