.Container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 6% 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  z-index: 99999;
  transition: 500ms ease-in-out;
}

.Container.activate {
  position: fixed;
  padding: 30px 6%;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.1);
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Audiowide", sans-serif;
  cursor: pointer;
  background: #0c96cc;
  background: linear-gradient(
    90deg,
    rgba(12, 150, 204, 1) 0%,
    rgba(55, 176, 105, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Navigation nav {
  overflow: hidden;
}

.Navigation nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Navigation ul li {
  list-style: none;
  padding: 10px 2px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #444;
  font-weight: 500;
  position: relative;
}

.Navigation ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #444;
  transform-origin: center;
  transition: width 300ms ease-out;
}

.Navigation ul li:hover::after {
  width: 100%;
}

/* Responsive */
@media screen and (max-width: 767px) {
  .Container {
    padding: 32px 6% 26px;
  }

  .logo {
    font-size: 2rem;
  }

  .Navigation nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fcfcfc;
    box-shadow: 4px 0 10px 0 rgb(0, 0, 0, 0.4);
    height: 100dvh;
    width: 0%;
    transition: width 300ms ease-in-out;
    z-index: 99999;
  }

  .Navigation nav.active {
    width: 50%;
  }

  .Navigation nav ul {
    margin-top: 60px;
    flex-direction: column;
  }
}
