h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #333;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
  color: #666;
}

.Container {
  margin-top: 140px;
  padding: 0 5%;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 50px;
}

.Container > div img {
  /* width: 300px; */
  max-width: 100%;
  max-height: 320px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.1);
}

.Container > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.Container > div > div {
  margin-top: 20px;
}
